<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= name %> !, Nice to meet You</h1>
    <p>Animals you selected are :--
        <ul>
            <% animals.forEach((animal) => { %>
                <li><%= animal %></li>
                <% }); %>
        </ul>
    </p>
</body>
</html>